<!DOCTYPE html>
<html
        lang="ar"
        dir="rtl"
        xmlns:th="http://www.thymleaf.org" 

>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>تحويل الملفات</title>

    <link rel="stylesheet" href="styles/main.css"/>

</head>
<body>


    <header>
        <h1>المحول</h1>
        <p>نبذة مختصرة</p>
    </header>

    <main><!--For CEO cmpatipilty-->
        <form method="post" action="/" enctype="multipart/form-data" onsubmit="validate(event)">
            
            <section class="type-section flex"><!--for flex box-->
                    <div><!--conversion from input--> 
                        <label for="original-type" >حول من</label>
                        <input type="text" 
                            placeholder="نوع الملف"
                            name="original-type"
                            id="original-type"
                            class="disable mid-text">
                    </div>
                    <div>
                        <label for="conversion-type">إلى</label>
                        <select type="text" 
                            name="conversion-type"
                            id="conversion-type"
                            class="mid-text">
                            <option selected hidden disabled value="">نوع الملف</option>

                        </select>
                    </div>
            </section>

            <section class="upload-section"><!--for file holder-->
                    <label for="original-file" name="file-label" id="file-label" class="btn bg-darck mid-text bold">أرفق الملف</label>
                    <input type="file" 
                        name="file"
                        id="original-file">
            </section>
            
            <section class="result inline-boxes" th:classappend="${originalFile!=null ? 'show' : 'hide'}">
                <div>
                    <p>الملف الاصلي</p>
                    <a th:href="@{/file/{fileName}(fileName=${originalFile?.getName()}) }" download> <span th:text="${originalFile?.getName()}"/> </a>
                </div>
                <div>
                    <p>الملف المعدل</p>
                    <a th:href="@{/file/{fileName}(fileName=${convertedFile?.getName()}) }" download> <span th:text="${convertedFile?.getName()}"/> </a>

                </div>
                <div>
                    <p>الأنواع المستخدمة</p>
                    <span>
                        تم التحويل من
                        <span th:text="${originalType}"/>
                        الى
                        <span th:text="${conversionType}"/>
                    </span>
                </div>
            </section>
            <div>
                <button type="submit" class="btn bg-green bold mid-text">إبدأ التحويل</button>
            </div>
        
        </form>

        <section class="test-area">
            <span class="block bold mx-1">الحالات التجريبية</span>
            <div class="flex">
                <div>
                    <span>تحويلات الملفات</span>
                    <div class="test-case">
                        <span name="test-case" value="pdf-to-png" class="bold" onclick="sendTest('pdf','png')">حول من pdf الى png</span>
                    </div>
                    <div  class="test-case">
                        <span name="test-case" value="pdf-to-jpg" class="bold" onclick="sendTest('pdf','jpg')">حول من pdf الى jpg</span>
                    </div>
                </div>

                <div>
                    <span>تحويلات الصور</span>
                    <div  class="test-case">
                        <span name="test-case" value="png-to-jpg" class="bold" onclick="sendTest('png','jpg')"> حول من png الى jpg</span>
                    </div>
                    <div  class="test-case">
                        <span name="test-case" value="jpg-to-png" class="bold" onclick="sendTest('jpg','png')"> حول من jpg الى png</span>
                    </div>
                </div>
                
            </div>
        </section>
    </main>


<script src="scripts/main.js"></script>
</body>
</html>