@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=Rubik:wght@300;400&display=swap');
:root{
    
    --ar-font:"El messiri";
    --green-bg:#22FF7A;
    --gray-bg:#303030;
    --black:#262734;
}
/* reset section */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
 text-decoration: none;
}

input[type="text"], select{
    font-family: var(--ar-font) ;
    border: none;
    font-weight: bold;
    outline: none;
    color: black;
    background: #f0f0f0;
    padding: 0.3em 0.5em;
    border-radius: 5px;

}

::-webkit-input-placeholder{
    color: var(--black);
}

input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

button, .btn{
    border-radius: 9px;
    border: none;
    cursor:pointer;

}

/* implmenting section */
body{
    font-family: var(--ar-font);
    font-size: 1rem;
    padding: 2em 0;
    max-width: 100%;
    margin: 0 15%;
    
    background: linear-gradient(180deg, var(--black) , #4c4e59);
    color: white;

    text-align: center;
}

header{
    margin-bottom: 1.5em;
}

main{
    padding: 1.5em 0;
}

form{
    margin-bottom: 2em;   
}
form>section{/* Selecting all sections */
    margin-bottom: 9.5vh;
}

input[type="text"]{
    width: 100%;
    max-width: 125px;
}
label[name="file-label"] {
    display: inline-block;
    height: 80px;
    padding: 1.5em 0;
}

.btn{
    width: 60%;
    padding: 1em;
    font-family: var(--ar-font);
}
.btn[type="submit"]{
    background:#f0f0f0;
}
.inline-boxes>div{
    display: inline-block;
    margin: 0 0.93em;
    /* width: 100px; */
    max-width: 120px;
}
.disable{
    pointer-events: none;   
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.bold{
    font-weight: bold;
}
.bg-green{
    background-color:var(--green-bg) ;
    color: #fff;
}
.bg-darck{
    background-color:  var(--gray-bg);
    color: #fff ;
}
.bg-glass-white{
    box-shadow: -2px 2px 10px 0 rgb(0 0 0 / 30%);
}
.block{
    display: block;
}
.mid-text{
    font-size: 1.125rem;
}
.large-text{
   font-size: 1.25rem;
}
.test-case{
    color: var(--green-bg);
    cursor: pointer;
}

.mx-1{
    margin: 1.5em 0;
}

.download-link{
    color: #22FF7A;

}

.result{
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
.hide{
    opacity:0;
    margin:0;
    height:0px;
    display: none;
    transition: 0.5s all ease-in-out;
}
.show{
    opacity:1;

}
.error-msg {
        width: fit-content;
        margin: 0.9em 21%;
        /* color: #ff7f7f; */
        background: #ff484852;
        padding: 0.6em;
        border: 1px solid #ff7f7f;
        border-radius: 16px;
}